@import '/node_modules/modern-normalize/modern-normalize.css';

@import "variables.css";
@import "fonts.css";

body {
  font-family: 'Raleway', sans-serif;
}

ul {
  padding-left: 0;
}

.twc-container {
  max-width: 1320px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.twc-button {
  background: none;
  border: none;
  cursor: pointer;
}
